<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FailedOrderNotificationToEmail" value="" />
    <add key="FailedOrderNotificationFromEmail" value="" />

    <add key="SendGridUserName" value="" />
    <add key="SendGridPassword" value="" />
  </appSettings>
  <connectionStrings>
    <add name="AzureWebJobsStorage" connectionString="" />
    <add name="AzureWebJobsDashboard" connectionString="" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>